/* #region---Basic reset&general_styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/OpenSansBold.woff2') format('woff2'),
    url('../fonts/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'OpenSans', sans-serif;
}

:root {
  --gap: 50px;
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #333;
  --color-lightgray: #999;
  --color-violet: #9d5cd0;
  --color-lightviolet: #d1a9f0;
  --color-mediumviolet: #c283f3;
  --color-darkviolet: #7943a4;
  --time: .2s;
  --style: ease-in-out;
  --background-transition: background var(--time) var(--style);
  --color-transition: color var(--time) var(--style);
  --outline-transition: outline var(--time) var(--style);
  --opacity-transition: opacity var(--time) var(--style);
  --border-transition: border var(--time) var(--style);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1640px;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-darkgray);
}

.section-title--white {
  color: var(--color-white);
}

.section-subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #333;
  color: var(--color-darkgray);
}

.section-descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-darkgray);
}

.date {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-lightgray);
}

/* #endregion */

/* #region---header */
.header {
  padding: 30px 0;
  background: var(--color-black);
}

.header__container {
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.nav {
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 96px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  color: var(--color-white);
  transition: var(--color-transition);
}

.nav__link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  background: var(--color-darkviolet);
  opacity: 0;
  transition: var(--opacity-transition);
}

.nav__link:focus-visible::after {
  opacity: 1;
}

.nav__link:active {
  color: var(--color-darkviolet);
}

.header__search-form {
  position: relative;
}

.search-form__btn {
  position: relative;
  width: 28px;
  height: 28px;
  outline: none;
  color: var(--color-white);
  transition: var(--color-transition);
}

.search-form__btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: var(--color-darkviolet);
  opacity: 0;
  transition: var(--opacity-transition);
}

.search-form__btn:focus-visible::after {
  opacity: 1;
}

.search-form__btn:active {
  color: var(--color-violet);
}

.search-form__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__lens {
  fill: currentColor;
}

/* #endregion */

/*  #region---hero */
.hero {
  margin-bottom: 84px;
  padding: 147px 0;
  background-color: #be9f6f;
  background-image: url(../img/hero-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__content {
  width: 34%;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 68px;
  color: var(--color-white);
}

.hero__descr {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  border-radius: 100px;
  border: none;
  padding: 24px 4px;
  min-width: 314px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  outline: 2px solid transparent;
  background: var(--color-violet);
  transition: var(--outline-transition),
  var(--background-transition);
}

.hero__btn:focus-visible {
  outline-color: var(--color-mediumviolet);
  outline-offset: 3px;
}

.hero__btn:active {
  background: var(--color-darkviolet);
}

/* #endregion */

/* #region---about */
.about {
  margin-bottom: 69px;
}

.about__title {
  margin-bottom: 22px;
}

.about__descr {
  width: 67%;
}

/* #endregion */

/* #region---gallery */
.gallery {
  margin-bottom: 86px;
  background-color: var(--color-darkgray);
  background-image: url(../img/gallery-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.gallery__title {
  padding-top: 84px;
  margin-bottom: 26px;
}

.gallery__wrap {
  padding-bottom: 77px;
  justify-content: space-between;
}

.gallery__list {
  gap: var(--gap);
}

.gallery__form {
  align-self: flex-end;
  flex-direction: column;
}

.gallery-search__label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.gallery-search__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gallery-search__text {
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: var(--color-transition);
}

.gallery-search__text::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid currentColor;
  transform: translate(-50%, -50%);
  transition: var(--border-transition);
}

.gallery-search__text::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--opacity-transition);
}

.gallery-search__input:checked+.gallery-search__text::after {
  opacity: 1;
  background: var(--color-mediumviolet);
}

.gallery-search__input:checked+.gallery-search__text::before {
  border-color: var(--color-mediumviolet);
}

.gallery-search__input:focus-visible+.gallery-search__text::before {
  border-color: var(--color-mediumviolet);
}

.gallery-search__input:focus-visible+.gallery-search__text {
  color: var(--color-mediumviolet);
}

.gallery-search__input:active+.gallery-search__text {
  color: var(--color-mediumviolet);
}

/* #endregion */

/* #region---catalog */
.catalog {
  margin-bottom: 85px;
}

.catalog__title {
  margin-bottom: 20px;
}

.catalog__descr {
  margin-bottom: 38px;
  width: 68%;
}

.catalog__list {
  flex-direction: column;
  gap: var(--gap);
}

.catalog-item {
  gap: var(--gap);
}

.catalog-item__content {
  flex-direction: column;
  justify-content: center;
}

.catalog-item__subtitle {
  margin-bottom: 15px;
}

.catalog-item__date {
  margin-bottom: 12px;
}

/* #endregion */

/* #region---events */
.events {
  margin-bottom: 85px;
}

.events__title {
  margin-bottom: 20px;
}

.events__list {
  gap: var(--gap);
  flex-wrap: wrap;
  --offsets: 2;
}

.events__item {
  border: 1px solid #cacaca;
  position: relative;
  z-index: 3;
  padding-bottom: 47px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  min-height: 700px;
}

.events__img {
  margin-bottom: 13px;
}

.events__content {
  margin-bottom: 20px;
  padding-left: 50px;
  width: 90%;
  height: 100%;
}

.events__date {
  margin-bottom: 6px;
  line-height: 24px;
}

.events__subtitle {
  margin-bottom: 9px;
  line-height: 32px;
}

.events__btn {
  position: relative;
  margin-left: 50px;
  font-size: 16px;
  outline: none;
  color: var(--color-violet);
  transition: var(--color-transition);
}

.events__btn::before {
  content: '';
  position: absolute;
  top: 22px;
  display: block;
  width: 88px;
  height: 1px;
  background: currentColor;
}

.events__btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
  bottom: -14px;
  left: -8px;
  background: var(--color-violet);
  opacity: 0;
  transition: var(--opacity-transition)
}

.events__btn:focus-visible::after {
  opacity: 1;
}

.events__btn:focus-visible {
  color: var(--color-white);
}

.events__btn:active {
  color: var(--color-darkvgray);
}

/* #endregion */

/* #region---projects */
.projects {
  margin-bottom: 76px;
}

.projects__title {
  margin-bottom: 22px;
}

.projects__descr {
  margin-bottom: 32px;
  width: 67%;
}

.projects-partners__subtitle {
  margin-bottom: 18px;
}

.projects-partners__list {
  flex-wrap: wrap;
  gap: 34px;
}

/* #endregion */

/* #region---contacts */
.contacts {
  border: 1px solid #cacaca;
  padding: 39px 0;
}

.contacts__wrap {
  justify-content: space-between;
  align-items: center;
}

.contacts__location {
  flex-direction: column;
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.contacts__address {
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
}

.feedback-form__input {
  border: 1px solid var(--color-darkgray);
  border-radius: 100px;
  margin-right: 16px;
  padding: 0 24px;
  min-width: 270px;
  height: 50px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-darkgray);
  transition: var(--background-transition);
}

.feedback-form__input::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-lightgray)
}

.feedback-form__input:focus-visible {
  background: #ececec;
  outline: none;
}

.feedback-form__btn {
  border: 2px solid currentColor;
  border-radius: 100px;
  padding: 13px 4px;
  min-width: 327px;
  font-weight: 700;
  font-size: 18px;
  outline: 2px solid transparent;
  outline-offset: 3px;
  color: var(--color-violet);
  transition: var(--outline-transition),
  var(--background-transition),
  var(--color-transition), var(--border-transition);
}

.feedback-form__btn:focus-visible {
  outline-color: var(--color-mediumviolet);
  outline-offset: 3px;
}

.feedback-form__btn:active {
  border: 3px solid var(--color-lightviolet);
  color: var(--color-white);
  background: var(--color-darkviolet);
}

.massanger__subtitle {
  margin-bottom: 7px;
  line-height: 32px;
}

.contacts__messenger {
  flex-direction: column;
}

.massanger__item:not(:last-child) {
  margin-right: 20px;
}

.massanger__link {
  display: block;
  width: 40px;
  height: 40px;
  transition: var(--color-transition);
}

.massanger__link--green {
  color: #30bf39;
}

.massanger__link--blue {
  color: #26a5e4;
}

.massanger__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.massanger__whapp {
  fill: currentColor;
}

.massanger__tgm {
  fill: currentColor;
}

.massanger__link--green:focus-visible {
  color: rgba(48, 191, 57, 0.5);
  outline: none;
}

.massanger__link--blue:focus-visible {
  color: rgba(38, 165, 228, 0.5);
  outline: none;
}

.massanger__link:active {
border: 1px solid var(--color-violet);
border-radius: 100%;
}

/* #endregion */

/* #region---footer */
.footer {
  background: var(--color-black);
  padding: 45px 0;
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  color: #cacaca;
  transition: var(--color-transition);
}

.social__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social__background {
  fill: currentColor;
}

.social__link:focus-visible {
  color: var(--color-white);
  outline: none;
}

.social__link:active {
  color: var(--color-violet);
}
/* #endregion */
