@media (max-width: 1199.9px) {

	.hero__img {
		padding-top: 116px;
	}

	.advantages__item {
		padding: 0;
		padding-top: 80px;
		background-position: center 6px;
	}

	.teachers__items:nth-child(-n+2) {
		margin-bottom: var(--gap);
	}

	.teachers__img {
		margin-bottom: 27px;
	}

}

@media (max-width: 991.9px) {

.hero {
padding-bottom: 134px;
}

.hero__content {
	margin-bottom: 0;
}

.hero__title {
	margin-bottom: 14px;
	font-size: 50px;
}

.hero__descr {
	max-width: 345px;
}

.advantages {
margin-bottom: 58px;
}

.advantages__item {
	background-position: left 6px;
}

.teachers {
	margin-bottom: 74px;
	padding-bottom: 51px;
}

.teachers__text {
	max-width: 345px;
}

.courses__title {
	margin-bottom: 23px;
}

.courses__item {
	padding-top: 65%;
	padding-right: 22px;
	min-height: 556px;
}

.courses__time {
	position: absolute;
	top: 9px;
	right: 9px;
	background-position: 4px 1px;
}


.courses__item-1 {
	background-image: url('../img/cinema_768.webp');
}

.courses__item-2 {
	background-image: url('../img/blender_768.webp');
}

.courses__item-3 {
	background-image: url('../img/3ds_768.webp');

}

.courses__item-4 {
	background-image: url('../img/zbrush_768.webp');
}

.courses__btn {
	min-width: 194px;
}

.footer__social-list {
	padding-top: 28px;
	padding-bottom: 28px;
}

}

@media (max-width: 767.9px) {
	.header__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.header__logo {
		margin-bottom: 28px;
	}

	.header__container {
    padding-bottom: 28px;
}

.hero__img-col {
	display: none;
}

.hero__title {
padding-top: 79px;
}

.advantages {
	margin-bottom: 39px;
}

.advantages__title {
	max-width: 330px;
}

.advantages__img-col {
	justify-content: flex-start;
	align-items: flex-start;
}

.teachers {
	margin-bottom: 73px;
	padding-bottom: 75px;
}

.courses__item {
	padding-right: 15px;
}

.courses__item-1 {
	background-image: url('../img/cinema_576.webp');
}

.courses__item-2 {
	background-image: url('../img/blender_576.webp');
}

.courses__item-3 {
	background-image: url('../img/3ds_576.webp');

}

.courses__item-4 {
	background-image: url('../img/zbrush_576.webp');
}

.courses__item {
	padding-top: 89%;
	min-height: 653px;
}

.courses__subtitle {
	margin-bottom: 11px;
}

.courses__btn {
	min-width: 180px;
}

}

@media (max-width: 575px) {

	.section__offsets {
    margin-bottom: 50px;
}

	.section-title {
		font-size: 20px;
		line-height: 130%;
	}

	.header__container {
    padding-top: 25px;
		padding-bottom: 25px;
}

.header__logo {
	margin-bottom: 22px;
}

	.nav {
		max-width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.hero {
		padding-bottom: 49px;
		margin-bottom: 40px;
	}

	.hero__title {
    margin-bottom: 6px;
		padding-top: 50px;
    font-size: 30px;
}

.hero__descr {
	margin-bottom: 44px;
	font-size: 16px;
	line-height: 130%;
}

.hero__btn {
	padding: 21px 4px;
	min-width: 212px;
	font-size: 16px;
}

.advantages {
	margin-bottom: 39px;
	padding-top: 10px;
}

.advantages__title {
	margin-bottom: 2px;
}

.advantages__items:not(:last-child) {
	margin-bottom: 13px;
}

.advantages__text {
	padding: 0;
}

.advantages__img-col {
	display: none;
}

.advantages__item {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 110px;
}

.teachers {
	padding-bottom: 50px;
	margin-bottom: 44px;
}

.teachers__title {
	padding-top: 44px;
}

.teachers__items:not(:last-child) {
	margin-bottom: 27px;
	
}

.teachers__text {
	max-width: 100%;
}

.courses {
	margin-bottom: 50px;
}

.courses__item {
	padding-top: 73%;
}

.courses__items:not(:last-child) {
	margin-bottom: var(--gap);
}

.courses__item-1 {
	background-image: url('../img/cinema_320.webp');
}

.courses__item-2 {
	background-image: url('../img/blender_320.webp');
}

.courses__item-3 {
	background-image: url('../img/3ds_320.webp');

}

.courses__item-4 {
	background-image: url('../img/zbrush_320.webp');
}

.courses__btn {
	min-width: 195px;
}

.footer__social-list {
	padding-top: 28px;
	padding-bottom: 29px;
}

}